<div class="jumbotron text-center text-white">
  <h1 class="display-4">Test Blog</h1>
  <p class="lead">Welcome to my blogging app! You can create, read, update and delete articles, <br> as well as view categories and other users.</p>
  <hr class="my-4">
  <p>Sign up to create your own articles!</p>
  <p class="lead">
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg text-white" %>
  </p>
</div>
